img {
  width: 30px;
  height: 30px;
}

tr {
  background-color: #4C4C4C;
  color: white;
  height: 60px; 
  border: solid 1px white;
}

td {
  padding: 10px;
}

table {
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.playing {
  background-color: #006600;
}

tr:hover{
  background-color: #999;
  color: #1A1A1A;
}

th {
  font-size: 30px;
}

.queueEntries:hover {
  background-color: #FF4D4D;
}